
    <div>
        <h1>Life can be unpredictable sometimes</h1>
        <br/>

        <div >

            If you are having troubles with paying your energy bills on time, this free service will help you to
            <br/><br/>
            <ul>
                <li>Assess your current situation
                </li>
                <li>Provide you with all your options 
                </li>
                <li>Give you tips to improve your situation in the short term and long term
                </li>
            </ul>

        </div>
        
          <br/> 


          <a [routerLink]="['/calculator']" [routerLinkActive]="['router-link-active']" class="btn btn-primary btn-lg btn-block" role="button" >
            Ask Jane now
        </a>

 
        

    </div>
