<div class="row" style="background-color:white; width:100%; height: 100%">
  <div class="col-lg-3" style="padding:20px;">
    <img src="../assets/images/AGL_RGB_1837_primary.png" width="100" height="100" />

    <div>
      <br/><br/>

      <h2 style="color: #001CB0">
        Meet your independent reviewers
      </h2>
      <br/><br/>
      <div style="color: black !important">
        They are specialists having valuable knowledge and experience in getting you back on track.

        <br/><br/> Their job is work with you to create a plan that takes your situation into account.

        <br/><br/> Use the map to find someone that you feel comfortable talking to.
      </div>

    </div>

  </div>


  <div class="col-lg-9" style="background-size:cover; background-image: url(../assets/images/map.png)">

  </div>


</div>