/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

.bgimg {
    background-image: url('../assets/images/agl-background.png');
}

p, div
{
   color: #fff !important;
}

input {
    color: #000;
}

html,
body {
    height: 100%;
}

.center-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}