<div>
    <h1>... and your estimated <br/> expenses?</h1>
    <br/><br/>

    <div>
        Lorem ipsum dolor sit amet, mel ullum petentium et, at sensibus voluptaria definiebas pro, veri perpetua his no. <br/>        <br/> Vix ea aeterno ponderum repudiandae, te has mediocrem ullamcorper. Munere cetero sapientem mei ad, ne sumo
        lobortis quo, augue labores omnesque cu vim. Everti complectitur his ad. In diceret fuisset est. Ut usu lobortis
        laboramus voluptaria. Vis eu liber debitis deterruisset.

    </div>

    <label class="radio-inline">
          <input type="radio" name="period" value="weekly" checked="" (click)="savePeriod($event)" />  &nbsp; Weekly
      </label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <label class="radio-inline">
          <input type="radio" name="period" value="monthly" (click)="savePeriod($event)"/>  &nbsp; Monthly
      </label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <label class="radio-inline">
          <input type="radio" name="period" value="yearly" (click)="savePeriod($event)"/>  &nbsp; Yearly
      </label>

    <!-- <span>Between $ &nbsp;&nbsp;&nbsp;&nbsp;</span>
    <input type="text" [(ngModel)]="expensefrom" required />

    <span>&nbsp;&nbsp; and $ &nbsp;&nbsp;&nbsp;&nbsp;</span>
    <input type="text" [(ngModel)]="expenseto" required /> -->


    <div class="row">
        <div class="col-9">Between</div>
        <div class="col-9">$0</div>
        <div class="col-3">$10000</div>

    </div>

    <div class="row">
        <div class="col-12">
            <md-slider style="width:100%" min="0" max="10000" step="1" value="1" [(ngModel)]="expensefrom" thumb-label="thumblabel">
            </md-slider>
        </div>
        <div class="col-9">and</div>
        <div class="col-9">$0</div>
        <div class="col-3">$10000</div>
        <div class="col-12">
            <md-slider invert="invert" md-invert style="width:100%" min="0" max="10000" step="1" value="1" [(ngModel)]="expenseto" thumb-label="thumblabel">
            </md-slider>
        </div>

    </div>

    <a [routerLink]="['/calculator/concession']" [routerLinkActive]="['router-link-active']" class="btn btn-primary btn-lg btn-block"
        role="button" (click)="saveExpense()">
        NEXT STEP
    </a>

</div>
