<div>

    <div>
        To help me find the right options for you, I’ll ask you a few questions. 
You can choose to be completely anonymous, however to avail AGL assistance you will need to identify yourself as an AGL Customer.
    </div>
    
    <br/><br/>




    <div>
        When do you think your situation will change to be able to pay your bills regularly?
    </div>

    <br/><br/>

    <div class="row">
        <div class="col-9">Short term</div>
        <div class="col-3">Long term</div>

    </div>

    <div class="row">
        <div class="col-12">
            <md-slider style="width:100%" min="1" max="2" step="1" value="1" [(ngModel)]="range" [thumb-label]="thumblabel">

            </md-slider>
        </div>

    </div>

    <div class="row">
        <div class="col-4">1 month</div>
        <div class="col-5">6 months</div>
        <div class="col-3">> 1 year</div>
    </div>

<br/><br/>

    <a [routerLink]="['/calculator/location']" [routerLinkActive]="['router-link-active']" class="btn btn-primary btn-lg btn-block"
        role="button" (click)="saveTerm()">
            NEXT STEP
        </a>


</div>