<div>

    <h1>How would you rate you situation?</h1>
    <br/><br/>




    <div>
        Lorem ipsum dolor sit amet, mel ullum petentium et, at sensibus voluptaria definiebas pro, veri perpetua his no. <br/>        <br/> Vix ea aeterno ponderum repudiandae, te has mediocrem ullamcorper. Munere cetero sapientem mei ad, ne sumo
        lobortis quo, augue labores omnesque cu vim. 

    </div>

    <br/><br/>

    <div class="row">
        <div class="col-9">Short term</div>
        <div class="col-3">Long term</div>

    </div>

    <div class="row">
        <div class="col-12">
            <md-slider style="width:100%" min="1" max="2" step="1" value="1" [(ngModel)]="range" [thumb-label]="thumblabel">

            </md-slider>
        </div>

    </div>

    <a [routerLink]="['/calculator/location']" [routerLinkActive]="['router-link-active']" class="btn btn-primary btn-lg btn-block"
        role="button" (click)="saveTerm()">
            NEXT STEP
        </a>


</div>